body {
    margin:0;
    padding: 0;
}
.main .number {
    overflow: hidden;
    width:100%;
}
.main .number ul {
    margin:0;
    padding:0;
}
.main .number ul li {
    list-style: none;
    float: left;
    background-color: aquamarine;
    border:1px solid black;
    padding: 3px 9px;
    font-size: 20px;
}